//Colors//

$color-primary: #2bbe69;
$color-primary-light: #70df9f;
$color-primary-dark: #1e874b;
$color-background: #fbfefc;
$color-background-dark: #edfbf3;

$color-display: #0c341d;
$color-display-light: #edfbf3;

$color-item-background: #f8faf9;

$color-expense: #e74c3c;
$color-expense-light: #f4ada6;
