
.navigation {
  height: 7rem;
  width: 7rem;
  margin-right: auto;
  margin-left: 3vw;
  background-color: transparent;
  text-align: center;//we can center the custom hamburger because we set it to inline-block.
  cursor: pointer;


    &__icons {
      position: relative;
      margin-top: 3.5rem;
  
      &,
      &::before,
      &::after {
      width: 5rem;
      height: 3px;
      background-color: $color-display-light;
      display: inline-block;
      }
  
      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }
  
      &::before { top: -1.5rem;}
      &::after { top: 1.5rem; }
    }

&__container {
  background-color: $color-primary-dark;
  position: absolute;
  top: 94px;
  left: -90vw;
  height: calc(100% - 94px);
  width: 43vw;

  @include respond (phone-large) {
    top: 58px;
    height: calc(100% - 58px);
    width: 80vw;
  }

  @include respond (phone-medium) {
    

  }

  @include respond (phone-small) {
    
   
  }

  @include respond (phone-extra-small) {
  
  

  }
 }
 &__ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
   height: 50%;
   margin-left: 16vw;

   @include respond (tab-port) {
    margin-left: 11vw;
   }

   @include respond (phone-large) {
     margin-left: 9vw;
     margin-top: 3rem;
   }
 }

 &__item {
  font-size: 5rem;
   display: flex;
   align-items: center;
   color: $color-display-light;

   @include respond(tab-land  ) {
     font-size: 4rem;
  }

  @include respond(tab-port ) {
    font-size: 3rem;
 }

 @include respond(phone-large) {
  font-size: 5rem;
}
 }
 &__li {
   font-weight: 400;
   margin-left: 3rem;
   text-transform: capitalize;
 }
}

.navigation__icons::before {
  top: -1.8rem;
}
.navigation__icons::after{
  top: 1.8rem;
}

//JS SELECTORS//

.navigation__icons.js-x {
  background-color: transparent;
  // margin-top: 30rem;
}
 .js-x.navigation__icons::before{
  top: 0;
  transform: rotate(135deg);
}
.js-x.navigation__icons::after{
  top: 0;
  transform: rotate(-135deg);
}

.js-show-container {
  animation-name: navigation-menu-open;
  animation-duration: .2s;
  animation-fill-mode: forwards;
 
}

.js-hide-container {
  animation-name: navigation-menu-close;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}