.message-income {
  opacity: 0;
  position: absolute;
}

.message-expense {
  opacity: 0;
  position: absolute;
  color: $color-expense;

}

.add {
  position: relative;

  &__container {
    @include respond (phone-large) {
      display: flex;
      flex-direction: column;

    }
  }

  &__message {
    font-size: 40rem;
    text-transform: uppercase;
    animation-name: scale-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    &--income { color: $color-primary; }

    // &--expense { color: $color-expense; }
  }

  &__description {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    text-align: center;
    color: inherit;
    font-family: inherit;
    background-color: rgba(#fff, .5);

    @include respond (phone-large) {
      font-size: 3rem;
      margin-bottom: 3rem;
    }


  }

  &__value {
     font-size: 2rem;
    padding: 1.5rem 2rem;
    text-align: center;
    color: inherit;
    font-family: inherit;
    background-color: rgba(#fff, .5);

    @include respond (phone-large) {
      font-size: 3rem;
    }

  }
}

.income {
  height: 50%;
  width: 100vw;
  background-color: rgba($color-primary-light,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.expense {
  height: 50%;
  width: 100vw;
  background-color: rgba($color-expense-light,0.17);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.income-mobile-view,
.expense-mobile-view {
  width: 44vh;
}