// body {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
.disclaimer {

&__heading {
  font-size: 5rem;

}
  &__icon {
    font-size: 5rem;
    color: $color-primary-dark;
  }

  &__note {
    font-size: 2rem;

    span {
      color: $color-primary;
       font-weight: 800;
       border-bottom: 2px  solid $color-primary-dark;
    }

  }
}
