.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content;
  justify-items: center;


  &__container {
    display: grid;
    grid-row-gap: 1rem;
    background-color: $color-item-background;
    width: 50%;
    max-height: 51vh;
    overflow: auto;
    padding: 2rem;
    overflow: auto;

    @include respond(tab-land) {
      width: 100%;
      grid-row-gap: 2rem;
      max-height: 100vh;
    }

    &-description {
      background-color: $color-item-background;
      display: grid;
      align-content: center;
      grid-template-columns: 1fr 1fr 1fr min-content;
      grid-template-rows: min-content;
      justify-items: center;
      grid-row-gap: 1rem;
      width: 50%;
      height: 7vh;
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding: 2rem;

      @include respond(tab-land) {
        width: 100%;
      }

    }

  }


  &__date {
    grid-column: 1/2;
    align-self: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

  &__name {
    grid-column: 2/3;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    font-weight: bold;
  }

  &__amount {
    grid-column: 3/4;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    font-weight: bold;
  }

  &__instance {
    font-size: 1.7rem;
  }

  &__time {
    grid-column: 1/2;
    font-size: 2rem;
  }

  &__description {
    text-transform: capitalize;
    grid-column: 2/3;
    font-size: 2rem;
  }

  &__value {
    grid-column: 3/4;
    display:flex;
    font-size: 2rem;
    color: $color-primary;
    margin-left: 2rem;

    &--red {
      color: $color-expense;
    }
  }

  &__options {
    display: flex;
    justify-content: center;
  }

  &__delete-all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__delete {
     grid-column: 4/4;
     font-size: 2rem;

     @include respond (phone-large) {
      font-size: 2.4rem;
      transform: translateY(-2px);
    }
    &-btn {
      color: $color-display;
      font-weight: 300;
      transition: all .2s;
       cursor: pointer;

      &:hover {
        transform: scale(1.2) rotate(120deg);

      }

    &--big {
      font-size: 4rem;
      color: $color-primary-dark;

      &:hover {
        color: lighten($color-primary-dark, 5%);

      }
    }

    }

  }
}
.red {
  color: $color-expense;
}
