body {
  position: fixed;//to prevent scrolling
  background-color: #edfbf3;
  font-family: 'Lato', sans-serif;
  color: $color-display;
  height: 100vh;
}
html {

  @include respond (landscape-phone) {
    font-size: 35%;

  }

  @include respond(phone-large) {
    font-size: 43%;
  }
  @include respond(phone-small) {
    font-size: 37%; // 1rem = 6, 6/16 = 37.5%
  }
}
