body {
  color: $color-display;
}

.heading-primary {
  font-size: 7.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: $color-display-light;
  margin-left: -6rem;// to position it exactly in the middle togehter with the other two flex box items.

  @include respond (tab-land) {
    font-size: 5.5rem;
  }
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-display;
}

.heading-teritary {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-display;
  margin-bottom: 1rem;

}

.heading-quaternary {
  font-size: 2rem;
  font-weight: 300;
}

.green.heading-quaternary::after{
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 1rem;
  top: 5rem;
  background-color: green;

}

.red.heading-quaternary::after{
  content: "";
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 1rem;
  top: 5rem;
  background-color: red;

}
